structures/turbomole/TURBOMOLE_calcs/Sirolimus/
structures/turbomole/TURBOMOLE_calcs/Paclitaxel/
structures/molden/Paclitaxel.molden
structures/molden/Doxorubicin.molden
*.err
*.out
__pycache__/
.DS_Store
