$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-4,6-10,14                                                                 \
   basis =c def2-TZVP                                                          \
   jbas  =c def2-TZVP
s  5                                                                           \
   basis =s def2-TZVP                                                          \
   jbas  =s def2-TZVP
o  11-12,15                                                                    \
   basis =o def2-TZVP                                                          \
   jbas  =o def2-TZVP
n  13,16                                                                       \
   basis =n def2-TZVP                                                          \
   jbas  =n def2-TZVP
h  17-32                                                                       \
   basis =h def2-TZVP                                                          \
   jbas  =h def2-TZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-65                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
    functional   b3-lyp
    gridsize   m3
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=32
   nbf(CAO)=678
   nbf(AO)=598
$last step     ridft
$xctype hybrid-GGA X= 0.20000 (not to be modified here)
$last SCF energy change = -1123.9833
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -1.26757623914811    y    -1.26161264174445    z     1.44919167732226    a.u.
   | dipole | =    5.8507959465  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$cosmo
  epsilon=infinity
$cosmo_out file=Biotin_SP.cosmo
$scfconv 7
$orbital_max_rnorm 0.13699015571769E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-1123.983280190    -3995.735242541     1736.152504799    -95.88489592625    -5.360460709474     1236.844814187
$end
