$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-2,5-6,8-11                                                                \
   basis =c def2-TZVP                                                          \
   jbas  =c def2-TZVP
o  3,7,12-15                                                                   \
   basis =o def2-TZVP                                                          \
   jbas  =o def2-TZVP
n  4                                                                           \
   basis =n def2-TZVP                                                          \
   jbas  =n def2-TZVP
h  16-30                                                                       \
   basis =h def2-TZVP                                                          \
   jbas  =h def2-TZVP
$basis    file=basis
$scfmo   file=mos
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
    functional   b3-lyp
    gridsize   m3
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=30
   nbf(CAO)=630
   nbf(AO)=555
$cosmo_out file=N-Acetylglucosamine.cosmo
$moldenfile file=N-Acetylglucosamine.molden
$xctype hybrid-GGA X= 0.20000 (not to be modified here)
$last SCF energy change = -.30103251E-06
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.70894483356570    y    -0.10862319276884    z     0.92492064988480    a.u.
   | dipole | =    2.9749301375  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$closed shells
 a       1-59                                   ( 2 )
$last step     tm2molden
$orbital_max_rnorm 0.38311947646872E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-819.8698594427    -3386.444747339     1513.520352324    -81.86398609016    -4.814054494254     1139.732576157
$end
