$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1,3-11,13-14,16-23,26                                                       \
   basis =c def2-TZVP                                                          \
   jbas  =c def2-TZVP
o  2,12,15,24-25,27                                                            \
   basis =o def2-TZVP                                                          \
   jbas  =o def2-TZVP
h  28-47                                                                       \
   basis =h def2-TZVP                                                          \
   jbas  =h def2-TZVP
$basis    file=basis
$scfmo    file=mos
$closed shells
 a       1-97                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
    functional   b3-lyp
    gridsize   m4
$scfconv   7
$ricore     8000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=47
   nbf(CAO)=1092
   nbf(AO)=957
$last step     tm2molden
$cosmo_out file=Curcumin.cosmo
$moldenfile file=Curcumin.molden
$scfiterlimit 500
$scfdamp   start=0.700  step=0.050  min=0.100
$xctype hybrid-GGA X= 0.20000 (not to be modified here)
$last SCF energy change = -.11582279E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.85333033006913    y    -1.33674762428719    z    -1.10870933648518    a.u.
   | dipole | =    4.9183679881  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.23163066226928E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-1263.351247390    -6128.727330597     2786.812737054    -131.6062820277    -7.840542460671     2218.010170642
$end
