$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-3,6-8                                                                     \
   basis =c def2-TZVP                                                          \
   jbas  =c def2-TZVP
o  4-5,9-11                                                                    \
   basis =o def2-TZVP                                                          \
   jbas  =o def2-TZVP
h  12-21                                                                       \
   basis =h def2-TZVP                                                          \
   jbas  =h def2-TZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-43                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
    functional   b3-lyp
    gridsize   m3
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=21
   nbf(CAO)=456
   nbf(AO)=401
$last step     tm2molden
$cosmo_out file=Lactic_acid_dimer.cosmo
$moldenfile file=Lactic_acid_dimer.molden
$xctype hybrid-GGA X= 0.20000 (not to be modified here)
$last SCF energy change = -.18450146E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.80781743838840    y     0.54413906816417    z     0.39349759605998    a.u.
   | dipole | =    2.6700600587  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.42302050526519E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-610.7431610380    -2152.539270135     941.8285170109    -60.37026420000    -3.514634414356     663.8524907009
$end
