$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-2,4-5,7-8,10-11                                                           \
   basis =c def2-TZVP                                                          \
   jbas  =c def2-TZVP
n  3,6,9,12-13                                                                 \
   basis =n def2-TZVP                                                          \
   jbas  =n def2-TZVP
h  14-36                                                                       \
   basis =h def2-TZVP                                                          \
   jbas  =h def2-TZVP
$basis    file=basis
$scfmo    file=mos
$closed shells
 a       1-53                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
    functional   b3-lyp
    gridsize   m4
$scfconv   7
$ricore     8000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=36
   nbf(CAO)=606
   nbf(AO)=541
$last step     tm2molden
$cosmo_out file=Tetraethylenepentamine.cosmo
$moldenfile file=Tetraethylenepentamine.molden
$xctype hybrid-GGA X= 0.20000 (not to be modified here)
$last SCF energy change = -.17306434E-06
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.47150093283005    y    -0.26852927563247    z     0.06833969153145    a.u.
   | dipole | =    1.3900726067  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.85921375104356E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-592.2625553229    -2410.622338116     1077.264400552    -65.74095581495    -4.126249923224     810.9625879793
$end
