$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-2,4-5,7-8                                                                 \
   basis =c def2-TZVP                                                          \
   jbas  =c def2-TZVP
n  3,6,9-10                                                                    \
   basis =n def2-TZVP                                                          \
   jbas  =n def2-TZVP
h  11-28                                                                       \
   basis =h def2-TZVP                                                          \
   jbas  =h def2-TZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-41                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
    functional   b3-lyp
    gridsize   m3
$scfconv   7
$ricore     5000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=28
   nbf(CAO)=468
   nbf(AO)=418
$last step     ridft
$xctype hybrid-GGA X= 0.20000 (not to be modified here)
$last SCF energy change = -458.35786
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -1.06711083513853    y     0.10309582853475    z    -0.15402135497630    a.u.
   | dipole | =    2.7529526757  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$cosmo
  epsilon=infinity
$cosmo_out file=Triethylenetetramine_SP.cosmo
$scfconv 7
$orbital_max_rnorm 0.11400076660308E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-458.3578608691    -1696.069771458     749.0595425236    -50.82971550889    -3.188623373041     542.6707069475
$end
